@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+Pro:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  /*bgcolors*/
  --elem-bg: #b59898;

  /*fonts*/
  --font-color: #716a6a;
  --secondary-color: white;
  --text-size-h1: 1.813rem;
  --text-size-h2: 1.125rem;
  --text-size-p: 1.313rem;
  --text-opacity: 0.5;

  /*structure*/
  --container-bg: #fbfbfb;
  --nav-bg: #5dc75b;
  --pad: 30px;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
